@use 'node_modules/bootstrap/scss/bootstrap' with (

    //Carousel customization
    $carousel-indicator-width:           0.7rem,
    $carousel-indicator-height:          0.7rem,
    $carousel-indicator-hit-area-height: 10px,
    $carousel-indicator-active-bg:       #000000,
    $carousel-indicator-active-opacity:  1,


    // Slider customization
    $form-range-thumb-width:                   3rem,
    $form-range-thumb-height:                  1.5rem,
    $form-range-thumb-border:                  1px,
    $form-range-thumb-border-radius:           0rem,
    $form-range-thumb-bg:                      #343a40,
    $form-range-track-bg:                      #343a40,
    $form-range-track-height:                  .3rem,
    $form-range-track-border-radius:           0rem,

);

// body{
//     font-family: 'Nunito Sans';
// }